# RabbitMQ Connection
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=your_rabbitmq_username
RABBITMQ_PASS=your_rabbitmq_password

HEARTBEAT=600
BLOCKED_CONNECTION_TIMEOUT=300
CONNECTION_ATTEMPTS=10
RETRY_DELAY=5
SOCKET_TIMEOUT=10


# RabbitMQ Default Credentials
RABBITMQ_DEFAULT_USER=your_rabbitmq_username
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password


# Acknowledgment Experiment Queues
AUTO_ACK_QUEUE=ack.auto.queue
MANUAL_ACK_QUEUE=ack.manual.queue


# Worker
CONSUMER_MODE=manual


# Container Names
RABBITMQ_CONTAINER_NAME=rabbitmq_container
FASTAPI_CONTAINER_NAME=fastapi_container
AUTO_ACK_WORKER_CONTAINER_NAME=auto_ack_worker_container
MANUAL_ACK_WORKER_CONTAINER_NAME=manual_ack_worker_container


# Test Environment (used by the pytest integration suite running on the host)
RABBITMQ_TEST_HOST=localhost
